# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=fraud_user
POSTGRES_PASSWORD=fraud_pass
POSTGRES_DB=fraud_db
POSTGRES_SCHEMA=public

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Model
MODEL_PATH=models/fraud_model.pkl
MODEL_VERSION=fraud_xgb_v1

# Feast
FEAST_REPO_PATH=feast_repo/feature_repo

# Simulator
SIM_EVENTS_PER_SECOND=10
SIM_FRAUD_RATE=0.03
SIM_SEED=42
